{% load static %}
<html>
<head>
    <title>Category Selection</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <form>
        <ul id="categoryList">
            <li>
                <label for="category1">
                    <input type="checkbox" id="category1" class="category" value="1">Category 1
                </label>
            </li>
            <li>
                <label for="category2">
                    <input type="checkbox" id="category2" class="category" value="2">Category 2
                </label>
            </li>
        </ul>
    </form>
    <script src="{% static 'js/category_check.js' %}"></script>
</body>
</html>
