body {
    font-family: Arial, sans-serif;
    margin:0;
}

#categoryList, #categoryList ul  {
    list-style-type: none;
}

#categoryList {
    background: #cfcecd;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
}
#categoryList li label{
    padding: .5rem .4rem;
    margin: .5rem 0;
    background: #e1e1e1;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}